In [1]:
# for data processing
import pandas as pd
import csv
import numpy as np
from pandas import DataFrame
# initial setting 
pd.set_option('display.max_rows', 50)

The data 'gadm1_nuts3_counties_gadm1_nuts3_counties_Aug2020.tsv'can be found at
https://data.humdata.org/dataset/e9988552-74e4-4ff4-943f-c782ac8bca87/resource/3a98c06b-d373-45ed-a954-d93bdb12d5d0/download/gadm1_nuts3_counties_gadm1_nuts3_counties_aug2020.tsv.zip

In [2]:
SCI_RAW = pd.read_csv('gadm1_nuts3_counties_gadm1_nuts3_counties_Aug2020.tsv', sep='\t')

In [3]:
SCI_RAW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64128064 entries, 0 to 64128063
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   user_loc    object
 1   fr_loc      object
 2   scaled_sci  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ GB

In [4]:
# first we selecet the raws which first columns contain 'UK'
SCI_uk_world=SCI_RAW[SCI_RAW['user_loc'].str.startswith('UK')]

In [5]:
SCI_uk_world.head(5)

         user_loc fr_loc  scaled_sci
35563528    UKC11    ABW          61
35563529    UKC11   AGO1          33
35563530    UKC11  AGO10          10
35563531    UKC11  AGO11          30
35563532    UKC11  AGO12          48

In [6]:
# then we selecet all the EU countries from the world 
SCI_uk_eu=SCI_uk_world[SCI_uk_world['fr_loc'].str.startswith('UK')|
                       SCI_uk_world['fr_loc'].str.startswith('AT')|
                       SCI_uk_world['fr_loc'].str.startswith('BE')|
                       SCI_uk_world['fr_loc'].str.startswith('BG')|
                       SCI_uk_world['fr_loc'].str.startswith('CY')|
                       SCI_uk_world['fr_loc'].str.startswith('CZ')|
                       SCI_uk_world['fr_loc'].str.startswith('DE')|
                       SCI_uk_world['fr_loc'].str.startswith('DK')|
                       SCI_uk_world['fr_loc'].str.startswith('EE')|
                       SCI_uk_world['fr_loc'].str.startswith('EL')|
                       SCI_uk_world['fr_loc'].str.startswith('ES')|
                       SCI_uk_world['fr_loc'].str.startswith('FI')|
                       SCI_uk_world['fr_loc'].str.startswith('FR')|
                      SCI_uk_world['fr_loc'].str.startswith('HR')|
                      SCI_uk_world['fr_loc'].str.startswith('HU')|
                      SCI_uk_world['fr_loc'].str.startswith('IE')|
                      SCI_uk_world['fr_loc'].str.startswith('IT')|
                      SCI_uk_world['fr_loc'].str.startswith('LT')|
                      SCI_uk_world['fr_loc'].str.startswith('LU')|
                      SCI_uk_world['fr_loc'].str.startswith('LV')|
                      SCI_uk_world['fr_loc'].str.startswith('MT')|
                      SCI_uk_world['fr_loc'].str.startswith('NL')|
                      SCI_uk_world['fr_loc'].str.startswith('PL')|
                      SCI_uk_world['fr_loc'].str.startswith('PT')|
                      SCI_uk_world['fr_loc'].str.startswith('RO')|
                      SCI_uk_world['fr_loc'].str.startswith('SE')|
                      SCI_uk_world['fr_loc'].str.startswith('SI')|
                      SCI_uk_world['fr_loc'].str.startswith('SK')]

In [7]:
SCI_uk_eu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295930 entries, 35563603 to 37177778
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_loc    295930 non-null  object
 1   fr_loc      295930 non-null  object
 2   scaled_sci  295930 non-null  int64
dtypes: int64(1), object(2)
memory usage: 9.0+ MB

### after checking the above data frame we found that there is some countries share the same first two initial, we need to drop them off, also the UK TO UK pairs are not considered in our research

In [8]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('SEN')]

In [9]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('BEN')]

In [10]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('ATG')]

In [11]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('BGD')]

In [12]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('PLW')]

In [13]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('FRO')]

In [14]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('UK')]

In [15]:
SCI_uk_eu=SCI_uk_eu[ ~ SCI_uk_eu['fr_loc'].str.startswith('CYM')]

In [17]:
SCI_uk_eu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236138 entries, 35563603 to 37177201
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_loc    236138 non-null  object
 1   fr_loc      236138 non-null  object
 2   scaled_sci  236138 non-null  int64
dtypes: int64(1), object(2)
memory usage: 7.2+ MB

In [18]:
SCI_uk_eu.to_csv (r'SCI_uk_eu.csv', index = False, header=True)